body{
	background-color: #d5e2f79a;
	margin:0;
	font-family: 'Karla', sans-serif;
	color: #293264;
	overflow-x: hidden;
	height: 100%;

}

.top-blob{
  	position: fixed;
	right: 0;
	width: 20vw;
	z-index: -1;
}

.bottom-blob{
  position: fixed;
	bottom: 0;
	width: 18vw;
	z-index: -1;
}

.centered{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: safe center;
	justify-content: safe center;
}

.question-list{
	height: fit-content;
	/* height: 100vh; */
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: safe center;
	justify-content: safe center;
}
.game-title{
	margin-bottom: 5px;
	font-size: 4rem;
}


.game-disc{
	font-family: 'Inter';
	font-size: 1.5rem;
	line-height: 1.2rem;
	text-align: center;
}

.start-button{
	margin-top: 2rem;
	width: 14rem;
	height: 4rem;
	background: #4D5B9E;
	border-radius: 15px;
	border: none;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}

.question-container{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 1rem;
	font-size: 1.8rem;
}

.answer{
	background-color: transparent;
	border: 1px solid #4D5B9E;
	color: #293264;
	border-radius: 12px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top:0.8rem;
	margin-right:0.8rem;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	text-align: center;
	cursor: pointer;
	
}

.line-break{
	background-color: #f4bae0;
	background-color: #4D5B9E;
	width: 100%;
	height:1px;
	margin-top: 1rem;
}

  
  .start-button:active {
	box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }

 